/* styles.css */
body {
    font-family: Arial, sans-serif;
   
    background-color: rgb(201, 204, 204);
}

.container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #522222;
    border-radius: 10px;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

.form-group {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #ab899c;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #45083d;
    width: 0;
}
